body {
    background: #1f4fe0;
    font-family: Arial, Helvetica, sans-serif;
}

.assignment{
   display:flex;
   padding: 10px;
   margin:10px
   backgroud rgb(219, 12, 12);
   border-radius:10px;
}

.assignment img{
    width:200px;
    padding:10px;
    border: 4px dashed #20B2AA;
}

.assignment img:hover{
    border: 4px dashed #FFF
}

h1 {
    color: #050505;
    text-align:center;
}

h1:hover {
    color: #eef3f1;
}

a{
    text-decoration:none;
    color:#030303;
}

a:hover{
    color: rgb(20, 220, 90);
}